@{
}
@Html.ValidationSummary()
<form action="@Url.Action("Index")" method="post">
    <input type="text" placeholder="Insert user name" name="userName" id="user"/>
    <input type="submit" value="Enter" onclick="return valid();" />
</form>
<script>
    function valid(){
        var element = document.getElementById('user').value;

	    if(element == 0){
	        alert("Preencha o campo, por favor.");
	        return false;
	    };
	};
</script>	